@Model IntroducaoMVC.Models.Pessoa

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h2>Representação de Dados @Model.Rd </h2>


@using (Html.BeginForm("Lista", "Home", FormMethod.Post))
{
    <fieldset>
        <legend>Informaçoes de Pessoas</legend>
    </fieldset>

    <div>
        @Html.LabelFor(m => m.PessoaId)
    </div>

    <div>
        <input type="number" value="@Model.PessoaId" name="PessoaId">
    </div>

    <div>
        <label for="Nome">Nome</label>
    </div>

    <div>
        <input type="text" value="@Model.Nome" name="Nome">
    </div>

    <div>
        <label for="Tipo">Tipo Pessoa</label>
    </div>

    <div>
        <input type="text" value="@Model.Tipo" name="Tipo">
    </div>

    <p><input type="submit" value="Enviar"/></p>
}
