
@{
    ViewBag.Title = "IndexVDB";
}

<h2>Index ViewData e ViewBig</h2>

<br />
<h2>Representado de Dados @ViewData["RepresentacaoDados"]</h2>
<h3>Codígo da Pessoa:     @ViewData["PesssoaId"] </h3>
<h3>Nome da Pessoa:       @ViewData["Nome"]</h3>
<h3>Tipo da Pessoa:       @ViewData["Tipo"]</h3>


<br />
<h2>Representado de Dados @ViewBag.Dados</h2>
<h3>Codígo da Pessoa:     @ViewBag.Id   </h3>
<h3>Nome da Pessoa:       @ViewBag.Nome</h3>
<h3>Tipo da Pessoa:       @ViewBag.Tipo</h3>
