
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>Curso com Hugo Vasconcelos MVC 5</p>

<br />


<h2>Representado de Dados @ViewData["RepresentacaoDados"]</h2>
<h3>Codígo da Pessoa:     @ViewData["PesssoaId"]</h3>
<h3>Nome da Pessoa:       @ViewData["Nome"]</h3>
<h3>Tipo da Pessoa:       @ViewData["Tipo"]</h3>

<br />
<h2>Representado de Dados @ViewBag.Dados</h2>
<h3>Codígo da Pessoa:     @ViewBag.Id   </h3>
<h3>Nome da Pessoa:       @ViewBag.Nome</h3>
<h3>Tipo da Pessoa:       @ViewBag.Tipo</h3>
